<!DOCTYPE html>
<html>
	<head>
		<title>Inventario</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Inventario</h1>
		<p>Estos son los productos disponibles:</p>
		<table border>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Cantidad</th>
					<th>Precio unitario</th>
				</tr>
				<% for( let i = 0; i < productos.length; i++ ) { %>
				<tr>
					<td><%= productos[i].nombre %></td>
					<td><%= productos[i].cantidad %></td>
					<td><%= productos[i].precio %></td>
				</tr>
				<% } %>
			</thead>
		</table>
		<p>En total se cuenta con <%= productos.length %> productos.</p>
		<hr />
		<form action="/agregar-producto" method="GET">
			<button type="submit">
				Agregar nuevo producto
			</button>
		</form>
	</body>
</html>
