<div id="inicio">
    <h2><%= sails.__("Te ayudamos con tus ciclos de vida") %> </h2>
    <p>Te ayudamos a desarrollar tus proyectos de software, desde la planeación hasta la entrega, cotiza con nosotros y encuentra la perfección tecnológica.</p>
    <h3><%= sails.__("Testimonios") %> </h3>
    <table >
        <tr>
            <th>Cliente</th>
            <th>Comentario</th>
        </tr>
        <tr>
            <td>Cliente 1</td>
            <td>Comentario 1</td>
        </tr>
        <tr>
            <td>Cliente 2</td>
            <td>Comentario 2</td>
        </tr>
    </table>
</div>