#header {
    box-sizing: border-box !important;
    display: flex;
    padding: 10px 40px 10px 4vw;
    height: 12vh;
}

#header>* {
    box-sizing: border-box !important;
}

#logo {
    width: fit-content;
}

#logo p {
    font-family: Matiott !important;
}

#logo:hover {
    cursor: pointer;
}

#logo img {
    height: 8.5vh;
    width: auto;
}

.drop {
    box-sizing: border-box;
}

@media screen and (max-width: 1215px) {
    .filled {
        padding: calc(0.25*16px) calc(0.5*16px) calc(0.25*16px) calc(0.5*16px) !important;
    }
}

@media screen and (max-width: 910px) {
    .filled {
      font-size: .8rem !important;
    }
}