<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coneccion a MySQL</title>
</head>
<body>
    <h1>Aquí ves cuantos registros hay en la base de datos.</h1>
    <b>Tabla <%= nom_tabla %> </b>
    <p>Registros  <%= num_registros %> </p>
</body>
</html>