@font-face {
    font-family: 'Henny Penny', cursive;

    src: url(fonts/HennyPenny-Regular.ttf);
}

body{
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, Sans-serif;
    color: white;
    padding-left: 300px;
    padding-right: 300px;
    align-items: center;
    justify-content: center;
}

p{
    padding: 25px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 25px;
    box-sizing: border-box;
    font-size: 20px;
}

.box-1{
    background: darkcyan; 
}

.box-1:hover {
    text-shadow: orange 5px -5px, darkblue -5px 5px;
    box-shadow: 0px 0px 30px magenta, 20px -20px 7px darkblue;
}

.box-2{
    background: darkblue;
}

.box-2:hover {
    letter-spacing: 5px;
    word-spacing: 5px;
    font-family: 'Henny Penny', cursive;
    box-shadow: inset 0px 0px turquoise, 20px 20px magenta;
}

.box-3 {
    background: darkmagenta;
}

.box-3:hover {
    font-family: 'Fruktur', cursive;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: turquoise;
    box-shadow: -20px 20px 5px orange, 20px -20px 5px orange;
}

.box-4{
    background: chocolate;
}

.box-4:hover {
    text-transform: capitalize;
    text-shadow: blue 5px -5px 15px;
    box-shadow: -30px 30px magenta, 0px -30px blue, 30px 30px turquoise;
}